{% extends 'base.html.twig' %}

{% block title %}Головна{% endblock %}


{%  block main %}
<div id="banner">
    <h2 class="logo">Квест кімнати</h2>
    <span class="opus">Квест кімнати - дуже цікава річ. Якщо один раз спробуєш, не зможеш зупинитися! На цьому сайті Ви зможете побачити декілька кімнат, вибрати для себе найцікавішу та забронювати.</span>
</div>
<div id="main-wraper">
    <div class="">
        <div class="">
            <section class="container box feature1">
                <div class="">
                    <section class="img2">
                        <img src="{{ asset('/images/inkvestroom.jpg') }}">
                    </section>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}