{% extends 'base.html.twig' %}

{% block title %}Квест кімнати{% endblock %}

{% block main %}
<div id="banner">
    <h2>Квест кімнати</h2>
    <span class="opus">Ми пропонуемо вам найкращі квест кімнати столиці! Уважно прочитайте про них та зробіть свій вибір.<br>Гарної гри!</span>
</div>
<div class="wrapper style1">
    <div class="inner">
        <section class="container box feature1">
            <div class="row">
                {% for room in roomList.roomList %}
                <div class="row-item">
                    <div class="kvestroom">{{ room.name }}</div>
                    <a href="{{ path('app_room', { field: room.slug}) }}">
                        <section class="img">
                            <img src="{{ asset(room.image) }}">
                        </section>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}