<div id="footer-wrapper">
    <footer id="footer" class="container">
        <ul class="menu">
            <li>&copy; Kvestroom. Всі права захищені</li>
            <li>Дизайн: використовується HTML5</li>
        </ul>
    </footer>
</div>